@model EryazProje.Models.UrunlerveKategoriler

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 style="color:darkred">Ürünler</h2>
    </div>

</div>
<div>
    <hr />
</div>
<div class="container">
    <div class="form-group">
        <div style="width:25%;float:left">
            @Html.TextBox("ara", null, new { @class = "form-control", @placeholder = "Aranacak ürün adı" })
        </div>
        <div style="float:left">
            <input type="submit" name="btn" value="Ara" class="btn btn-info">

        </div>
    </div>
</div>

<div>
    <hr />
</div>

<div class="row" style="margin-top:1%">
    <div class="col-md-10 col-md-offset-1">
        <p>
            <button class="btn btn-primary" data-toggle="modal" data-target="#ModalEkle">
                <span class="glyphicon glyphicon-plus"></span> <b>Yeni</b>
            </button>
        </p>
    </div>
</div>
<div class="row" style="margin-top:1%">
    <div class="col-md-10 col-md-offset-1">
        <table class="table" id="tbl">
            <thead>
                <tr>
                    <td>UrunAdi</td>
                    <td>UrunAciklamasi</td>
                    <td>UrunFiyati</td>
                    <td>KategoriAdi</td>
                </tr>
            </thead>
            <tbody id="SetUrunList">
                <tr id="Load"></tr>
            </tbody>
        </table>
    </div>
</div>
@using (Html.BeginForm("UrunEkle", "Urunler", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal" id="ModalEkle" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Ürün Ekle</h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAciklamasi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAciklamasi, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunFiyati, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunFiyati, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("KategoriId", new List<SelectListItem>(), htmlAttributes : new { @class = "form-control dropdown" })

                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <button class="btn btn-success">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                    Kaydet
                                </button>
                                <button class="btn btn-danger" data-dismiss="modal">
                                    Kapat
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("UrunDuzenle", "Urunler", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal" id="ModalDuzenle" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Ürün Düzenle</h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.UrunId, new { @id = "id" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @id = "urunad", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAciklamasi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAciklamasi, new { htmlAttributes = new { @id = "aciklama", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunFiyati, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunFiyati, new { htmlAttributes = new { @id = "fiyat", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @*@Html.DropDownList("KategoriId", new List<SelectListItem>(), null, htmlAttributes: new { @id = "katid", @class = "form-control" })*@
                                @Html.DropDownList("KategoriId", new List<SelectListItem>(), htmlAttributes: new { @id = "katid", @class = "form-control dropdown" })
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <button class="btn btn-success">
                                    <span class="glyphicon glyphicon-floppy-saved"></span>
                                    Kaydet
                                </button>
                                <button class="btn btn-danger" data-dismiss="modal">
                                    Kapat
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("UrunSil", "Urunler", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="modal" id="ModalSil" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Ürün Sil</h3>
                        <button class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.UrunId, new { @id = "id2" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAdi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @id = "urunad2", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunAciklamasi, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunAciklamasi, new { htmlAttributes = new { @id = "aciklama2", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.UrunFiyati, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UrunFiyati, new { htmlAttributes = new { @id = "fiyat2", @class = "form-control" } })
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            @Html.LabelFor(model => model.KategoriId, "KategoriId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("KategoriId", new List<SelectListItem>(), htmlAttributes: new { @id = "katid2", @class = "form-control dropdown" })

                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="modal-footer">
                        <div class="form-group container">
                            <div style="float:left">
                                <button class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    Sil
                                </button>
                                <button class="btn btn-default" data-dismiss="modal">
                                    İptal
                                </button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/UrunScript.js"></script>